@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Sigmar&display=swap');
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-color: black;
}
/* ----------HEADER---------- */
header div {
    text-align: center;
}
header div h1 {
    color: white;
    font-family: 'Chewy', cursive;
    font-family: 'Sigmar', cursive;
    font-size: 8vh;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(105, 105, 23),rgb(122, 21, 21),rgb(27, 27, 137), rgb(20, 80, 20));
}
/* ----------MAIN---------- */
.contenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.presionar {
    cursor: pointer;
}
.presionar:active,
.active{
    filter: brightness(200%);
}
.boton1 {
    position: relative;
    top: 70px;
    order: 1;
    width: 0; 
    height: 0; 
    border-bottom: 130px solid rgb(105, 105, 23);
    border-right: 90px solid transparent;
    border-left: 90px solid transparent;
}
.boton2 {
    position: relative;
    top: 90px;
    right:180px;
    order: 2;
    width: 0; 
    height: 0; 
    border-right: 130px solid rgb(20, 80, 20);
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent
}
.boton3 {
    position: relative;
    bottom: 90px;
    left: 180px;
    order: 4;
    width: 0; 
    height: 0; 
    border-left: 130px solid rgb(122, 21, 21);
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent; 
}
.boton4 {
    position: relative;
    bottom: 70px;
    order: 5;
    width: 0;
    height: 0;
    border-top: 130px solid rgb(27, 27, 137);
    border-right: 90px solid transparent;
    border-left: 90px solid transparent; 
}
button {
    font-family: 'Chewy', cursive;
    font-family: 'Sigmar', cursive;
    font-size: x-large;
    order: 3;
    margin: 16px;
    width: 140px;
    height: 140px;
    color: white;
    background-color: gray;
    position: absolute;
    border-radius: 10%;
    border: solid 1px white;
}

.informacion {
    font-weight: 900;
    color: white;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 20px;
}



/* ----------FOOTER---------- */
footer {
    width: 100%;
    height: 15vh;
    color: white;
    display: flex;
    align-items: end;
}
.velocidad {
    width: 100%;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}
.velocidad div {
    text-align: center;
    justify-content: space-around;
    display: flex;
    font-size: 2vw;
    width: 20%;
    height: 20%;
    background-color: #263c4e;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
}
footer p {
    margin-left: 30px;
    display: flex;
    align-items: center;
}